<nav
  class="fixed left-0 top-0 bottom-0 overflow-y-auto flex-wrap flex-col shadow-xl bg-neutral-4 flex lg:items-center justify-start py-4 lg:w-[14rem] w-24 transition-all duration-500 ease-in-out rounded-3xl lg:mx-10 my-10"
>
  <div class="mb-10 lg:pl-0 pl-7">
    <img
      ngSrc="/assets/images/logo_sidebar.svg"
      alt="logo"
      height="40"
      width="40"
      priority
    />
  </div>
  <div class="w-full">
    <ul class="flex flex-col gap-2">
      <app-sidebar-element
        route="/dashboard"
        icon="grid_view"
        title="DASHBOARD"
      />
      <app-sidebar-element route="/my-task" icon="menu" title="MY TASK" />
    </ul>
  </div>
</nav>
