<div
  class="flex flex-col justify-between gap-2 bg-neutral-4 w-[21.75rem] h-52 rounded-md p-4"
>
  <div class="flex justify-between">
    <span class="font-semibold text-white text-xl">{{ card.name }}</span>
    <span class="material-icons text-neutral-2" [matMenuTriggerFor]="options"
      >more_horiz</span
    >
  </div>
  <div class="flex w-full justify-between">
    <div>
      <span class="font-semibold text-white">
        {{ card.pointEstimate }} Points
      </span>
    </div>
    <app-time-task [dueDate]="card.dueDate" />
  </div>
  <div class="flex">
    <app-tag-list [tags]="card.tags" [numberTasksShow]="2" />
  </div>
  <div class="flex justify-between items-center">
    <app-avatar [source]="card.assignee.avatar" />
    <div class="flex gap-4 text-white">
      <mat-icon svgIcon="clip" style="width: 16px" />
      <div class="flex">
        <span>3&nbsp;</span>
        <mat-icon svgIcon="squares" style="width: 16px" />
      </div>
      <div class="flex">
        <span>3&nbsp;</span>
        <mat-icon svgIcon="comment" style="width: 16px" />
      </div>
    </div>
  </div>
</div>

<mat-menu #options="matMenu">
  <button
    mat-menu-item
    class="flex flex-wrap items-center"
    (click)="openEditTaskDialog()"
  >
    <mat-icon svgIcon="edit" /> Edit
  </button>
  <button
    mat-menu-item
    class="flex items-center"
    (click)="openDeleteTaskDialog()"
  >
    <mat-icon svgIcon="delete" style="width: 20px" /> Delete
  </button>
</mat-menu>
