<div class="task-card">
  <div class="task-card__header">
    <span class="task-card__title">{{ card.name }}</span>
    <button
      class="material-icons task-card__header-button"
      [matMenuTriggerFor]="options"
    >
      more_horiz
    </button>
  </div>
  <div class="task-card__content">
    <div>
      <span class="task-card__points"> {{ card.pointEstimate }} Points </span>
    </div>
    <app-time-task [dueDate]="card.dueDate" />
  </div>

  <app-tag-list [tags]="card.tags" [numberTasksShow]="1" />

  <div class="task-card__footer">
    <app-avatar [source]="card.assignee.avatar" />

    <div class="task-card__icons">
      <mat-icon svgIcon="clip" class="task-card__icon" />
      <div class="task-card__container-icon">
        <span>3&nbsp;</span>
        <mat-icon svgIcon="squares" class="task-card__icon" />
      </div>
      <div class="task-card__container-icon">
        <span>3&nbsp;</span>
        <mat-icon svgIcon="comment" class="task-card__icon" />
      </div>
    </div>
  </div>
</div>

<mat-menu #options="matMenu">
  <button
    mat-menu-item
    class="task-card__menu-button"
    (click)="openEditTaskDialog()"
  >
    <mat-icon svgIcon="edit" /> Edit
  </button>
  <button
    mat-menu-item
    class="task-card__menu-button"
    (click)="openDeleteTaskDialog()"
  >
    <mat-icon svgIcon="delete" style="width: 20px" /> Delete
  </button>
</mat-menu>
