<div
  class="flex w-full text-white rounded-2xl items-center justify-between bg-neutral-4 h-16 mr-10 px-6"
>
  <div class="flex items-center gap-6">
    <mat-icon svgIcon="search"></mat-icon>
    <input
      class="bg-transparent h-16 border-none text-white w-96 focus:outline-none"
      type="text"
      placeholder="Search"
    />
  </div>
  <div class="flex items-center gap-6">
    <mat-icon svgIcon="notifications" />
    <app-avatar
      source="https://ui-avatars.com/api/?name=User+One"
      height="40"
      width="40"
    />
  </div>
</div>
