<div class="block">
  <div class="block__container">
    <div
      routerLink="/my-task"
      class="block__element block__element--hover"
      routerLinkActive="block__element--active"
    >
      <span class="material-icons">menu</span>
    </div>
    <div
      routerLink="/dashboard"
      class="block__element block__element--hover"
      routerLinkActive="block__element--active"
    >
      <span class="material-icons">grid_view</span>
    </div>
  </div>
  <div>
    <button
      mat-mini-fab
      aria-label="create task"
      (click)="openCreateTaskDialog()"
    >
      <span class="material-icons">add</span>
    </button>
  </div>
</div>
