<li class="text-white hover:text-primary-4">
  <a
    [routerLink]="route"
    class="flex items-center justify-between h-14 gap-2"
    routerLinkActive="text-primary-4 bg-gradient-to-l from-[#3D3236]"
  >
    <div class="flex items-center gap-2">
      <span class="material-icons pl-8">{{ icon }}</span>
      &nbsp;
      <span class="lg:block hidden">{{ title }}</span>
    </div>
    <div
      [routerLink]="route"
      routerLinkActive="border-l-4 h-14"
      [ngClass]="router.url !== route ? 'hidden' : 'border-primary-4'"
    ></div>
  </a>
</li>
