<li class="sidebar-element">
  <a
    [routerLink]="route"
    class="sidebar-element__link"
    routerLinkActive="sidebar-element__link--inactive"
  >
    <div
      class="link__element"
      [ngClass]="router.url !== route ? 'link__element--active' : ''"
    >
      <span class="material-icons element__icon">{{ icon }}</span>
      &nbsp;
      <span class="element__text">{{ title }}</span>
    </div>
    <div
      [routerLink]="route"
      routerLinkActive="link__divider"
      [ngClass]="router.url !== route ? 'hidden' : 'border-primary-4'"
    ></div>
  </a>
</li>
