<li class="sidebar-element">
  <a
    [routerLink]="route"
    class="sidebar-element__link"
    routerLinkActive="sidebar-element__link--inactive"
  >
    <div
      class="sidebar-element__item"
      [ngClass]="router.url !== route ? 'sidebar-element__item--active' : ''"
    >
      <span class="material-icons sidebar-element__icon">{{ icon }}</span>
      &nbsp;
      <span class="sidebar-element__text">{{ title }}</span>
    </div>
    <div
      [routerLink]="route"
      routerLinkActive="sidebar-element__divider"
      [ngClass]="
        router.url !== route
          ? 'sidebar-element__divider--inactive'
          : 'sidebar-element__divider--active'
      "
      tabindex="-1"
    ></div>
  </a>
</li>
