<div
  class="flex flex-col gap-2 transition-all duration-500 ease-in-out lg:ml-[18rem] ml-[7.5rem]"
>
  <div class="flex gap-8">
    <app-columns
      title="Backlog"
      [tasks]="tasks"
      [typeTask]="StatusTaskEnum.BACKLOG"
    />
    <app-columns
      title="Todo"
      [tasks]="tasks"
      [typeTask]="StatusTaskEnum.TODO"
    />
    <app-columns
      title="Working"
      [tasks]="tasks"
      [typeTask]="StatusTaskEnum.IN_PROGRESS"
    />
    <app-columns
      title="Completed"
      [tasks]="tasks"
      [typeTask]="StatusTaskEnum.DONE"
    />
    <app-columns
      title="Canceled"
      [tasks]="tasks"
      [typeTask]="StatusTaskEnum.CANCELLED"
    />
  </div>
</div>
