<input
  mat-dialog-title
  class="bg-transparent text-neutral-2 font-semibold focus:outline-none pt-2"
  placeholder="Task Title"
/>
<mat-dialog-content>
  <div class="flex flex-wrap w-full gap-3">
    <button
      class="flex gap-2 rounded bg-[#94979A1A] text-neutral-1 px-4 py-1 items-center"
      [matMenuTriggerFor]="estimatedMenu"
    >
      <mat-icon svgIcon="estimate" />
      Estimate
    </button>
    <button
      class="flex gap-2 rounded bg-[#94979A1A] text-neutral-1 px-4 py-1 items-center"
      [matMenuTriggerFor]="assignMenu"
    >
      <mat-icon svgIcon="user" />
      Assignee
    </button>
    <button
      class="flex gap-2 rounded bg-[#94979A1A] text-neutral-1 px-4 py-1 items-center"
      [matMenuTriggerFor]="tagMenu"
    >
      <mat-icon svgIcon="label" />
      Label
    </button>
    <button
      class="flex rounded bg-[#94979A1A] text-neutral-1 px-4 py-1 items-center"
      (click)="picker.open()"
    >
      <input
        matInput
        [matDatepicker]="picker"
        style="width: 0; height: 25px; visibility: hidden"
      />
      <mat-icon svgIcon="calendar" class="mr-1" />
      Due Date
    </button>
    <div>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex gap-6">
    <button
      class="bg-transparent text-neutral-1 p-2 rounded-lg hover:bg-neutral-2"
      (click)="close()"
    >
      Cancel
    </button>
    <button
      class="bg-primary-4 text-neutral-1 p-2 rounded-lg disabled:bg-primary-2"
      disabled
    >
      Create
    </button>
  </div>
</mat-dialog-actions>

<mat-menu #estimatedMenu="matMenu" class="border border-neutral-2">
  <button mat-menu-item><mat-icon svgIcon="estimate" />0 Points</button>
  <button mat-menu-item><mat-icon svgIcon="estimate" />1 Points</button>
  <button mat-menu-item><mat-icon svgIcon="estimate" />2 Points</button>
  <button mat-menu-item><mat-icon svgIcon="estimate" />4 Points</button>
  <button mat-menu-item><mat-icon svgIcon="estimate" />8 Points</button>
</mat-menu>

<mat-menu #assignMenu="matMenu" class="border border-neutral-2">
  @for (user of users | async; track user.id) {
    <button mat-menu-item>
      <app-avatar-label avatar="{{ user.avatar }}" name="{{ user.fullName }}" />
    </button>
  }
</mat-menu>

<mat-menu #tagMenu="matMenu" class="border border-neutral-2">
  <button mat-menu-item (click)="addTag($event)">
    <div class="flex gap-1 items-center">
      <input type="checkbox" class="w-4 h-4 accent-primary-4" />
      <span>IOS</span>
    </div>
  </button>
  <button mat-menu-item (click)="addTag($event)">
    <div class="flex gap-1 items-center">
      <input type="checkbox" class="w-4 h-4 accent-primary-4" />
      <span>Android</span>
    </div>
  </button>
  <button mat-menu-item (click)="addTag($event)">
    <div class="flex gap-1 items-center">
      <input type="checkbox" class="w-4 h-4 accent-primary-4" />
      <span>React</span>
    </div>
  </button>
  <button mat-menu-item (click)="addTag($event)">
    <div class="flex gap-1 items-center">
      <input type="checkbox" class="w-4 h-4 accent-primary-4" />
      <span>Node Js</span>
    </div>
  </button>
  <button mat-menu-item (click)="addTag($event)">
    <div class="flex gap-1 items-center">
      <input type="checkbox" class="w-4 h-4 accent-primary-4" />
      <span>Rails</span>
    </div>
  </button>
</mat-menu>
