/*Overwrite the default autofill styles for input fields.*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff; /* White text color */
  -webkit-box-shadow: 0 0 0 1000px transparent inset; /* Transparent background */
  transition: background-color 5000s ease-in-out 0s;
}
