<div class="skeleton">
  <div class="skeleton__column">
    <p-skeleton
      styleClass="skeleton"
      animation="pulse"
      width="21.3rem"
      height="2rem"
    />
    <p-skeleton
      styleClass="skeleton"
      animation="pulse"
      width="21.3rem"
      height="70vh"
    />
  </div>
  <div class="skeleton__column">
    <p-skeleton
      styleClass="skeleton"
      animation="pulse"
      width="21.3rem"
      height="2rem"
    />
    <p-skeleton
      styleClass="skeleton"
      animation="pulse"
      width="21.3rem"
      height="70vh"
    />
  </div>
  <div class="skeleton__column">
    <p-skeleton
      styleClass="skeleton"
      animation="pulse"
      width="21.3rem"
      height="2rem"
    />
    <p-skeleton
      styleClass="skeleton"
      animation="pulse"
      width="21.3rem"
      height="70vh"
    />
  </div>
  <div class="skeleton__column">
    <p-skeleton
      styleClass="skeleton"
      animation="pulse"
      width="21.3rem"
      height="2rem"
    />
    <p-skeleton
      styleClass="skeleton"
      animation="pulse"
      width="21.3rem"
      height="70vh"
    />
  </div>
  <div class="skeleton__column">
    <p-skeleton
      styleClass="skeleton"
      animation="pulse"
      width="21.3rem"
      height="2rem"
    />
    <p-skeleton
      styleClass="skeleton"
      animation="pulse"
      width="21.3rem"
      height="70vh"
    />
  </div>
</div>
