/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-right: 2rem;
  font-family: Arial, sans-serif;
  background: #222528;
}

.skeleton {
  background-color: #44474a;
}

.create-task-dialog {
  .mat-mdc-dialog-container {
    --mdc-dialog-container-color: #393d41;
    --mdc-dialog-container-shape: 8px;
  }
  .mat-mdc-dialog-title {
    padding: 1rem;
  }
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar */
  background: #222528;
}

::-webkit-scrollbar-corner {
  background: #222528; /* Background color of the scrollbar corner */
}

/* Track */
::-webkit-scrollbar-track {
  background: #222528; /* Background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #44474a; /* Color of the scrollbar handle */
  border-radius: 6px; /* Rounded corners of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
}
